.nav-bar {
  padding: 12px 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  border-bottom: 5px solid #000000;
  border-top: 5px solid rgb(140, 210, 193);
  font-size: 18px;
  color: black;
}

@media (max-width: 600px) {
  .nav-bar {
    gap: 8px;
  }

  .nav-bar a {
    font-size: 14px;
    padding: 5px 8px;
  }
}

.logo {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 12px; 
  border: 1px solid rgb(0, 0, 0);

}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 18px;
    margin-bottom: 20px;
    margin: 40px auto; 
    padding: 30px; 
    background-color: tan;
    border: 8px solid rgb(140, 210, 193); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.nav-bar a:visited {
  color: black;
}

.nav-bar a:hover {
  color: rgb(140, 210, 193); /* matches your palette */
}



.footer {
  text-align: center;
  padding: 2px;
  margin-top: 10px;
  background-color: tan;
  border-top: 5px solid rgb(140, 210, 193);
  border-bottom: 5px solid black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-links a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px;
}

.footer-links a:hover {
  color: rgb(140, 210, 193);
}

body{
  background-color: transparent;
  font-size: 18px;
}
