.expand-menu {
  margin-bottom: 12px;
}

.expand-header {
  width: 100%;
  text-align: left;
  background:tan;
  color: rgb(0, 0, 0);
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.expand-content {
  background: #fff8e6;
  padding: 12px;
  border-left: 3px solid rgb(140, 210, 193);
  border-radius: 0 0 6px 6px;
  margin-top: 4px;
}
