h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.circle-img {
  width: 300px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  border: 4px solid #000;
}

.container {
  max-width: 500px; 
  margin: 40px auto; 
  padding: 30px; 
  background-color: rgb(189, 115, 18);
  border-radius: 8px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  margin: 40px auto; 
  padding: 30px; 
  border-radius: 8px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
}

.picture {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 10px; 
  object-fit: cover;
  border: 1px solid tan;
}

.about-row2 {
  display: flex;
  align-items: left;   
  gap: 10px;             
  background: tan; /* soft gray with transparency */
  padding: 10px;
  max-width: 800px;
  margin: 20px auto;
}


h3{
  font-size: 20px;
  color: #333;
  font-weight: bold;;
  background-color: rgb(140, 210, 193);
  border: black solid 3px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

h4{
  font-family: "Georgia", serif;
  font-size: 18px;
  color: black;
  background-color: rgb(140, 210, 193)
}